body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .registration_div {
    padding-left: 20px;
    width: 400px;
    padding-right: 20px;
    padding-bottom: 70px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  .login_div {
    padding-left: 20px;
    width: 400px;
    padding-right: 20px;
    padding-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  .forget_div {
    padding-left: 20px;
    width: 400px;
    padding-right: 20px;
    padding-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  .dashboard_div {
    padding-left: 20px;
    width: 400px;
    padding-right: 20px;
    padding-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  .form-group {
    margin-bottom: 20px;
  }
  label {
    display: block;
    margin-bottom: 5px;
  }
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  p {
    text-align: center;
  }
  h1 {
    text-align: center;
  }