<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DashBoard</title>
    <link rel="stylesheet"  href="../static/registration.css">
</head>
<body>
    <div class="dashboard_div">
        <h1>Randstad Digital</h1>
        <h1>Estimation</h1>
        <button type="submit" id="logout" onclick="logout()">LogOut</button>
        <form id="dashboard_Form">
            <form>
                <div>
                    <label for="Task">Task Name :*</label>
                    <input type="text" id="Task" name="Task" required>
                </div><br>
                <div>
                    <label for="Complexity">Complexity :*</label>
                    <select id="Complexity" name="Complexity" required>
                        <option value="" disabled selected>Select Complexity</option>
                        <option value="High">High</option>
                        <option value="Medium">Medium</option>
                        <option value="Low">Low</option>
                    </select>
                </div><br>
                <div>
                    <label for="Size">Size :*</label>
                    <select id="Size" name="Size" required>
                        <option value="" disabled selected>Select Size</option>
                        <option value=8>8</option>
                        <option value=6>6</option>
                        <option value=4>4</option>
                    </select>
                </div><br>
                <div>
                    <label for="typeOfTask">Type Of Task :*</label>
                    <select id="typeOfTask" name="typeOfTask" required>
                        <option value="" disabled selected>Select Type</option>
                        <option value="Developing">Developing</option>
                        <option value="Testing">Testing</option>
                        <option value="Integration">Integration</option>
                    </select>
                </div><br>
                <div>
                    <label for="Notes">Comments :*</label><br>
                    <input type="text" id="Notes" name="Notes" required>
                </div><br>
            </form>
            <button type="submit" onclick="Calculate_estimation()">Estimate</button>
            <label for="extimation_time">Estimation: </label>
            <input type="text" id="extimation_time" name="extimation_time" required><br>
            <label for="confidence_level">Confidence_level: </label>
            <input type="text" id="confidence_level" name="confidence_level" required>
        </form>
        <button type="submit" onclick="submit_estimation()">Submit Estimation</button>
    </div>
    

    <script>
        Task = document.getElementById("Task")
        Complexity = document.getElementById("Complexity")
        Size = document.getElementById("Size")
        typeOfTask = document.getElementById("typeOfTask")
        Notes = document.getElementById("Notes")
        Estimation = document.getElementById("extimation_time")
        Confidence = document.getElementById("confidence_level")
        const token = sessionStorage.getItem('token')
        function logout(){
            if (sessionStorage.getItem('token')){
                sessionStorage.removeItem('token')
                alert('Logout Successfully')
            }
            var anchor = document.createElement("a");
            anchor.href = "/";
            anchor.click();
        }

        Size.addEventListener('mouseenter', function (event) {
            var inputValue = Task.value;
            const regex = new RegExp(inputValue, 'i');
            fetch('/api/calculate_estimation',{headers:{
                    'Authorization': token
                }}).
            then(response=>{
                return response.json()
            })
            .then(data=>{
                if (data.history){
                    var items = data.history
                    for (let i = 0; i < items.length ; i++){
                        if (regex.test(items[i]['Task'])) {
                            if (items[i]['Size'] === '8'){
                                Size.selectedIndex = 1;
                            }
                            if (items[i]['Size'] === '6'){
                                Size.selectedIndex = 2;
                            }
                            if (items[i]['Size'] === '4'){
                                Size.selectedIndex = 3;
                            }
                            if (items[i]['Complexity'] === Complexity.value){
                                alert('Estimanted complexity is same with current complexity ')
                            }else{
                                alert('Estimated complexity is different from current complexity')
                            }
                        }
                    }
                }else{
                    alert(data.message)
                }
            })
        })

        function reset(){
            Task.value = "";
            Complexity.selectedIndex = 0;
            Size.selectedIndex = 0;
            typeOfTask.selectedIndex = 0;
            Notes.value = "";
        } 
        function Calculate_estimation() {
            if (Task && Complexity && Size && typeOfTask){
                const user_data = {
                    "Complexity": Complexity.value,
                    "Size": Size.value,
                    "typeOfTask": typeOfTask.value,
                };
                const requestData = {
                    method: 'POST',
                    headers: {
                        'Authorization': token,
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(user_data)
                };
                fetch("/api/calculate_estimation",requestData).
                    then(response => {
                        if (!response.ok) {
                            throw new Error('Not Able to fetch the Data')
                        } 
                        return response.json()
                    })
                    .then(data =>{
                        if(data.message || !(Estimation.value && Confidence.value)){
                            alert(data.message)
                            return
                        }
                        Estimation.value=data.estimated_effort || Estimation.value
                        Confidence.value=data.confidence_level || Confidence.value
                        

                    })
                    .catch(error=>{
                        alert("Error")
                    })

            } else {
                alert("Fields are empty")
            }
        }
        function submit_estimation(){
            const reqdata = {
                "Task": Task.value,
                "Complexity": Complexity.value,
                "Size": Size.value,
                "typeOfTask": typeOfTask.value,
                "Note": Notes.value,
                "Estimation":Estimation.value,
                "Confidence":Confidence.value,
            }
            const requestbody = {
                method: 'POST',
                headers: {
                    'Authorization': token,
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(reqdata)
            };
            fetch('/api/submit_estimation',requestbody).
                then(response=>{
                    if(!response.ok){
                        throw new Error("Not Able to insert")
                    }
                    return response.json()
                })
                .then(data=>{
                    alert("Data Stored Successfully")
                    reset()
                })
                .catch(error=>{
                    alert(error)
                })
        }
        
    </script>
    
</body>
</html>