<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DashBoard</title>
    <link rel="stylesheet"  href="../static/css/style.css">
</head>
<body>
    <div class="dashboard_div">
        <h1>Edit Data</h1>
        
        <form id="dashboard_Form">
            <form>
                <div>
                    <label for="Task">Task Name :*</label>
                    <input type="text" id="Task" name="Task" value="{{editableData.Task}}" required>
                </div><br>
                <div>
                    <label for="Complexity">Complexity :*</label>
                    <select id="Complexity" name="Complexity" required>
                        <option value="{{editableData.Complexity}}">{{editableData.Complexity}}</option>
                        <option value="High">High</option>
                        <option value="Medium">Medium</option>
                        <option value="Low">Low</option>
                        
                    </select>
                </div><br>
                <div>
                    <label for="Size">Size :*</label>
                    <select id="Size" name="Size" required>
                        <option value="{{editableData.Size}}">{{editableData.Size}}</option>
                        <option value=8>8</option>
                        <option value=6>6</option>
                        <option value=4>4</option>
                    </select>
                </div><br>
                <div>
                    <label for="typeOfTask">Type Of Task :*</label>
                    <select id="typeOfTask" name="typeOfTask" required>
                        <option value="{{editableData.typeOfTask}}">{{editableData.typeOfTask}}</option>
                        <option value="Developing">Developing</option>
                        <option value="Testing">Testing</option>
                        <option value="Integration">Integration</option>
                    </select>
                </div><br>
                <div>
                    <label for="Notes">Comments :*</label><br>
                    <input type="text" id="Notes" name="Notes" value="{{editableData.Note}}" required>
                </div><br>
            <label for="extimation_time">Estimation: </label>
            <input type="text" id="extimation_time" name="extimation_time" value="{{editableData.Estimation}}" required><br>
            <label for="confidence_level">Confidence_level: </label>
            <input type="text" id="confidence_level" name="confidence_level" value="{{editableData.Confidence}}" required>
            <label for="extimation_range">Estimation Effort Range:</label>
            <input type="text" id="extimation_range" name="extimation_range" value="{{editableData.Estimation_range}}" required>
        </form>
        <button type="submit" onclick="saveChanges('{{editableData._id}}')">Save Changes</button>
    </div>
    <script src="../static/js/dashboard.js"></script>
    <script src="../static/js/listView.js"></script>
</body>
</html>