<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Password</title>
    <link rel="stylesheet"  href="../static/registration.css">
    <style>
        
    </style>
</head>
<body>
    <div class="forget_div">
        <h1>Randstad Digital</h1>
        <form id="forget_Form">
            <div>
                <label for="Email">Email:*</label>
                <input type="email" id="Email" name="Email" required>
            </div><br>
        </form>
            <button type="submit" onclick="forgetPassword()">Forget</button>
    </div>
    <script>
        function forgetPassword() {
            Email = document.getElementById("Email")
            const user_data = {
                    "emai": Email.value,
                };
                const requestData = {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(user_data)
                };
                fetch("/api/forget_password",requestData).
                    then(response => {
                        if (response.ok) {
                            fetch("/").then(response => {
                                if (response.ok) {
                                    alert("Sent Reset Email to Your Mail")
                                    fetch("/",{method:'GET'})
                                }
                            })
                        } else{
                            alert("You Don't have an account, Create new accound")
                            fetch("/api/register",{method:'GET'})
                        }
                    })
        }
        
    </script>
</body>
</html>