<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Password</title>
    <link rel="stylesheet"  href="../static/css/style.css">
    <style>
        
    </style>
</head>
<body>
    <div class="forget_div">
        <h1>Randstad Digital</h1>
        <form id="forget_password_Form">
            <div>
                <label for="Password">Password:*</label>
                <input type="password" id="Password" name="Password" required>
            </div><br>
        </form>
        <button type="submit" onclick="changePassword()">Update Password</button>
    </div>
    <script src="../static/js/forgot_script.js"></script>
</body>
</html>