<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogIn</title>
    <link rel="stylesheet"  href="../static/css/style.css">
</head>
<body>
    <div class="login_div">
        <h1>Randstad Digital</h1>
        <h1>LogIn Form</h1>
        <form id="login_Form">
            <div>
                <label for="Email">Email:*</label>
                <input type="email" id="Email" name="Email" required>
            </div><br>
            <div>
                <label for="Password">Password:*</label>
                <input type="password" id="Password" name="Password" required>
            </div><br>
            <div>
                <label for="Re-Password">Re-Password:*</label>
                <input type="password" id="Re-Password" name="Re-Password" required>
            </div><br>
        </form>
        <a href='/api/forget_password'><h1>Forget Password</h1></a>
        <a href='/api/register'><h1>Register Here</h1></a>

        <button type="submit" onclick="LogIn_User()">Log In</button>
    </div>
    <script src="../static/js/login.js"></script>
</body>
</html>